body {
    background-image: url(materials/background.jpg);
    background-size: cover;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.container-image {
    width: 50%;
    height: 50%;
}
.image{
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 10%; right: 0;
    border-radius: 20px;
    transition: 0.5s linear;
}

.pretty-right-en {
    color: black;
}
.footer {
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 40px;
    left: 0;
    bottom: 15px;
    position: fixed;
    width: 100%;
    text-align: center;
}
#button {
    width: 225px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: orangered;
    color: #fff;
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
    font-size: 30px;
    transition: 0.5s linear;
}
#copyright {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    left: 0;
    bottom: 5px;
    position: fixed;
    width: 100%;
    text-align: right;
}
#button:hover {
    color: darkblue;
    transition: 0.5s linear;
    transition-timing-function: ease-in-out;
    background-color: red;
}
.image:hover {
    width: 29%;
    transition: 0.5s linear;
    transition-timing-function: ease-in-out;
}
#link {
    text-decoration: none;
    color: #fff;
}
    
